h1{
    text-align:center;
   font-family: 'Courgette', cursive;
    }
img{
    width:600px;
    border:10px solid black;
    }
body{
    background-color:#DC7575;
    }
h2{
   font-family: 'Courgette', cursive;
font-family: 'Lobster Two', cursive;
    }